
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

config/*
!config/ClickHouseConfig.py

Verisure/
google/
planifik/
temp_sl/
doc/
conf/
.vscode/
.env/
*.csv
*.zip
*.json
*.yml
*.png
*.js
*.xlsx
*.conf
*.txt
!requirement.txt 
reporting/query.py
reporting/app.env
reporting/comptage.py
reporting/report.py
reporting/report1.py
reporting/router_global.py
reporting/router_reporting.py
reporting/schema.py
reporting/security.py
reporting/Tags_advertiser.py