
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
app.env
.venv/
venv/

config/*
!config/ClickHouseConfig.py
!config/PgConfig.py
!config/konticrea.py

Verisure/
google/
planifik/
temp_sl/
doc/
pl/
conf/
.vscode/
.env/
*.csv
*.zip
*.json
*.yml
*.png
*.js
*.xlsx
*.conf
*.txt
*.docx
*.parquet
!requirement.txt 
brouillon/
Tags/
